/* src/fonts.css */
@font-face {
    font-family: 'Display';
    src: url('./assets/PPEditorialNew-UltralightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Display Regular';
    src: url('./assets/PPEditorialNew-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  